torch
diffusers
huggingface_hub
pillow
pexels_api
pyttsx3
# PIL
# cv2
requests
tqdm
numpy
opencv-python
# audioop-lts
pydub
scipy
transformers
Flask==3.0.0
Werkzeug==3.0.1
langdetect
soundfile
datasets
accelerate